::-webkit-scrollbar {
   width: 10px;
   height: 10px;
}

::-webkit-scrollbar-track {
   background: #fff;
}

::-webkit-scrollbar-thumb {
   background: #ccc;
}

input::-ms-clear {
   display: none;
}

body {
   margin: 0;
   padding: 0;
}

body, html, #app {
   width: 100%;
   height: 100%;
   overflow: auto;
}

#app {
   position: absolute;
   top: 0;
   left: 0;
}

#root {
   height: 100%
}