@font-face {
    font-family: 'Bariol-Regular';
    src: url('Bariol-Regular.eot');
    src: url('Bariol-Regular.eot?#iefix') format('embedded-opentype'),
    url('Bariol-Regular.woff2') format('woff2'),
    url('Bariol-Regular.woff') format('woff'),
    url('Bariol-Regular.ttf') format('truetype'),
    url('Bariol-Regular.svg#svgFontName') format('svg');
}

@font-face {
    font-family: 'Bariol-Light';
    src: url('Bariol-Light.eot');
    src: url('Bariol-Light.eot?#iefix') format('embedded-opentype'),
    url('Bariol-Light.woff2') format('woff2'),
    url('Bariol-Light.woff') format('woff'),
    url('Bariol-Light.ttf') format('truetype'),
    url('Bariol-Light.svg#svgFontName') format('svg');
}

@font-face {
    font-family: 'Bariol-Bold';
    src: url('Bariol-Bold.eot');
    src: url('Bariol-Bold.eot?#iefix') format('embedded-opentype'),
    url('Bariol-Bold.woff2') format('woff2'),
    url('Bariol-Bold.woff') format('woff'),
    url('Bariol-Bold.ttf') format('truetype'),
    url('Bariol-Bold.svg#svgFontName') format('svg');
}